
.DS_Store
.ipynb_checkpoints/SVM-checkpoint.ipynb
.ipynb_checkpoints/ML_Project-checkpoint.ipynb
.ipynb_checkpoints/SVM_mulcross-checkpoint.ipynb
.ipynb_checkpoints/NN-checkpoint.ipynb
.ipynb_checkpoints/SVM_Accuracy-checkpoint.ipynb
data/.ipynb_checkpoints/aps_failure-checkpoint.csv
